.nav-contact {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-contact__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 10px 0 10px 0;
    color: #757575;
    fill: #757575;

    &:hover,
    &:focus {
        color: $primary-blue;
        fill: $primary-blue;
    }
    
}

.nav-contact__icon {
    margin-right: 10px;
}

.icon-envelope {
    width: 16px;
    height: 12px;
}

.icon-smartphone {
    width: 10px;
    height: 16px;
}

.nav-contact__link:not(:first-child) {
    margin-left: 50px;
}

.nav-contact__item:not(:first-child) {
    margin-left: 50px;
}



